* {
    box-sizing: border-box;
}
html {
      background: #c2db42;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
    display:flex;
}

h1 {
    width: 100%;
    text-align: center;
    padding: 0.5em 0 0.5em;
    margin: 0;
    background: #aabd46;
}
/* Side Nav */

.side-nav-container {
    display:flex;
    justify-content: center;
    background: #c2db42;
}

.location-list {
    display:flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    width:100%;
    padding: 0;
}

.nav-item {
    padding-left: 0.5em;
}
.nav-item:hover, .nav-item:focus, .search:focus, .hover-focus {
    cursor: pointer;
    background: #000;
    color: #c2db42;

}

.infoWindow {
  width: 400px;
}

.wikipedia {
  text-align: left;
}

.search {
  width: 25vw;
  padding: 20px 20px 20px 45px;
  background-image: url('./icons/search.svg');
  background-repeat: no-repeat;
  background-position: 20px center;
  background-size: 1.2em;
  font-size: 1em;
  border: 0;
  outline: none;
}


@media screen and (max-width: 899px) {
    .container {
        flex-direction: column;
        justify-content: center;
    }
	.side-nav-container {
		width: 100vw;
		height: auto;
	}

    .search {
  width: 100vw;
  font-size: 1.2em;
}

.nav-item {
   text-align: center;
}
}

@media screen and (max-width: 399px) {
    .infoWindow {
  width: 95vw;
}
}