* {
    box-sizing: border-box;
}
html {
      background: #c2db42;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
    display:flex;
}

.header {
    text-align: center;
}
/* Side Nav */

.side-nav-container {
    display:flex;
    justify-content: center;
    width: 30%;
    background: #c2db42;
}

.location-list {
    display:flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    width:100%;
    padding: 0;
}

.nav-item {

}

.infoWindow {
  max-width: 400px;
}

.wikipedia {
  text-align: left;
}

.search {
  width: 25vw;
  padding: 20px 20px 20px 60px;
  background-image: url('./icons/search.svg');
  background-repeat: no-repeat;
  background-position: 20px center;
  background-size: 1.2em;
  font-size: 1.2em;
  border: 0;
  outline: none;
}


@media screen and (max-width: 899px) {
    .container {
        flex-direction: column;
        justify-content: center;
    }
	.side-nav-container {
		width: 100vw;
		height: auto;
	}

    .search {
  width: 90vw;
}
}